

* {
    padding: 0;
    margin: 0
}

#app {
    height: 100%;
    user-select: none;
}

.app {
    overflow: hidden;
    min-height: 100%;
}

html {
    height: 100%;
} 

body {
    min-height: 100%;
    height: 100%;
}

.header {
    position: fixed;
    z-index: 20;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: -1px 1px 10px 0px rgba(0, 0, 0, 0.5);

    .button-container {
        width: 100%;
        max-width: 300px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    input[type="file"]{
        width: 0;
        height: 0;
        overflow: hidden;
    }

    .button {
        height: 30px;
        box-sizing: border-box;
        padding: 0 20px;
    }

}

.body {
    margin-top: 50px;
}

.draggable-container {
    position: relative;
    min-height: 100%;

    .draggable-item {
        position: absolute;
        background-color: gray;
        cursor: move;

        .resize-point {
            position: absolute;
            width: 5px;
            height: 5px;
            border-radius: 100%;
            background-color: #fff;
            border: 1px solid gray;
            cursor: ne-resize;

            &.top.left, &.right.bottom {
                cursor: se-resize;
            }

            &.top {
                top: -3px;
            }

            &.bottom {
                bottom: -3px;
            }

            &.left {
                left: -3px;
            }

            &.right {
                right: -3px;
            }

        }
    }
}

.image-element-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    img {
        max-width: 100%;
        max-height: 100%;
        display: block;
    }

}